body{ 
      margin:0;
      padding:0;
      background: url("background.jpg"); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      
}
.container{
    position: absolute;
    width: auto;
    height: auto; 
    top: calc(50% - 240px);
    left: calc(50% - 160px);
}
form{
     position: absolute;
     text-align: center;
     background: white;
     width: 310px;
     height: 470px;
     border-radius: 5px;
     padding: 30px 20px 0 20px;
     box-shadow: 0 10px 50px 0 rgba(0,0,0,0.25);
     box-sizing: border-box;
}
p{
   font-family: tahoma;
   font-weight: 100;
   text-transform: uppercase;
   font-size: 12px;
   color:#87613d;
   margim-bottom: 40px;
}
p > span{
    padding-top: 3px;
    display: block;
    font-weight: 400;
    font-size: 9px;
}
h3{
    font-family: tahoma;
    font-size: 35px;
    text-transform: uppercase;
    color: #87613d;
    margim-bottom: 30px;
}
input,button{
    outline: none !important;
}
button.fb{
    border: none;
    background: #3b5998;
    width: 160px;
    height: 25px;
    font-family: tahoma;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #29487d;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s linear;
}
button.fb:hover{
    background: white;
    color: #3b5998;
}
button.form-btn{
    position: absolute;
    width: 50%;
    height: 60px;
    bottom: 0;
    border: 0;
    font-family: tahoma;
    text-transform: uppercase;
    cursor: pointer;
}
button.form-btn.sx{
    left: 0;
    border-radius: 0 0 0 5px;
    background-color: #34495e;
    color: white;
    transition: all 0.3s linear;
}
button.form-btn.sx:hover{
    background-color: #457aaf;
    color: white;
}
button.form-btn.sx.back{
    background-color: #34495e;
    transition: all 0.3s linear;
}
button.form-btn.sx.back:hover{
    background-color: #457aaf;
}
button.form-btn.dx{
    right: 0;
    border-radius: 0 0 5px 0;
    background-color: #ff7d00;  
}
input{
      border: none;
      border-bottom: 1px solid #ffc185;
      width: 85%;
      font-family: tahoma;
      color: #ff7d00;
      text-align: center;
      font-size: 21px;
      font-weight: 100;
      margim-bottom: 25px;
}
.signin input,
.signup .w100{
     width:100%;
}
.signin{
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
}
.signup{
    z-index: 2;
}
.active-dx{
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;    
}
.active-sx{
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;    
}
.inactive-dx{
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;    
}
.inactive-sx{
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;    
}
@keyframes overshadowing-dx{
    0%{
        z-index: 2;
        transform: perspective(100px) translated3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow:0 10px 50px 0 rgba(0,0,0,0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translated3d(100px, 0px, -30px);
        opacity: 0.5;
        box-shadow:0 10px 20px 0 rgba(0,0,0,0.25);
    }

}

@keyframes overshadowing-sx{
    0%{
        z-index: 2;
        transform: perspective(100px) translated3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow:0 10px 50px 0 rgba(0,0,0,0.25);
    }
    100%{
        z-index: 1;
        transform: perspective(100px) translated3d(100px, 0px, -30px);
        opacity: 0.5;
        box-shadow:0 10px 20px 0 rgba(0,0,0,0.25);
    }
}



@keyframes foregrounding-dx{
    0%{
        z-index: 1;
        transform: perspective(100px) translated3d(100px, 0px, -30px);
        opacity: 0.5;
        
    }
    50%{
        z-index: 2;
        transform: perspective(100px) translated3d(400px, 0px, -30px);
        
        
    }
    100%{
        z-index: 2;
        transform: perspective(100px) translated3d(0px, 0px, 0px);
        opacity:1;
        
    }

}


@keyframes foregrounding-sx{
    0%{
        z-index: 1;
        transform: perspective(100px) translated3d(-100px, 0px, -30px);
        opacity: 0.5;
        
    }
    50%{
        z-index: 2;
        transform: perspective(100px) translated3d(-400px, 0px, -30px);
        
        
    }
    100%{
        z-index: 2;
        transform: perspective(100px) translated3d(0px, 0px, 0px);
        opacity:1;
        
    }

}
